# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf


compfile.mk
*.Rapp*
*.Rhistory*

external/*
bin/*
share/*

# Python 
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

